/* temples.css */

/* Reset and base styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #2c3e50;
    text-align: center;

}

/* Header styles */
header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Navigation styles */

nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav button {
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

nav button:hover {
    background-color: #3e8e41;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #34495e;
}

/* Main content styles */
main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.temple-grid {
    display: grid;
    grid-template-columns: 1fr repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.temple-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

.temple-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

#temple-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.temple-card figcaption {
    padding: 1rem;
}

/* Footer styles */
footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer p {
    margin: 0;

}

/* Responsive design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    .temple-grid {
        grid-template-columns: 1fr;
    }
}